<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backbone.js ToDo</title>
</head>
<body>

    <div class="todo">
    <input type="text" name="" id="new-todo" minlength="1" autofocus>
    <button class="save-todo">Add</button>
    <ul class="todo-list"></ul>
    </div>


    <script
        data-main="./js/main"
        src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js">
    </script>

    <script type="text/template" id="todo-item">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
            <label><%- title %></label>
            <button class="destroy">&times;</button>
        </div>
        <input class="edit" value="<%- title %>" placeholder="===================">
    </script>


</body>
</html>
